<h1>Profile#show</h1>
<p>Find me in app/views/profile/show.html.erb</p>



<li><%= current_user.username %></li>
<li><%= current_user.last_name %></li>
<li><%= current_user.first_name %></li>
<li><%= current_user.email %></li>
